[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
regex = "2024.11.6"
types-dataclasses = "~=0.6"
Cerberus = "~=1.3"

[dev-packages]
mypy = "*"
ruff = "*"
pandas-stubs = "*"

[requires]
python_version = "3.12"
