[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "~=1.21"
pandas = "~=1.3"
regex = "2021.11.10"
types-dataclasses = "~=0.6"
Cerberus = "~=1.3"

[dev-packages]
black = "*"
isort = "~=5.10"
flake8 = "~=4.0"
mypy = "~=0.920"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
